<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />
    <meta name="viewport" content="width=ee , initial-scale=1.0">
    <title>SUPERHERO</title>
    <link rel="icon" href="man+saver+super+superhero+superman+icon-1320195496238765624_32.png" type="image/x-icon">
    <script src="less.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.css">

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Monoton&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
